.autocomplete-container{
    position: absolute;
    color: black;
    background-color: white;
    width: 20vw;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 8rem;
    overflow: auto;
}

.suggestion{
    list-style-type: none;
    height: 2rem;
    cursor: pointer;
    align-self: center;
    padding: 5px;
}

.suggestion:hover{
    background-color: rgba(165, 158, 158, 0.36);
}