.header-container{
    position: sticky;
    top: 0;
}

.header-div{
    display: flex;
    align-items: center;
    background-color: #2d878f;
    color: white;
    justify-content: space-between;
}

.logo-div {
    margin: auto 3rem;
}

.logo {
    font-size: 2vw;
}

@media (max-width: 525px) {
    .logo-div {
        margin: auto 1rem;
    }
}