.input-container{
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
    margin: auto 1rem;
}

.input-box {
    width: 15rem;
    height: 1.5rem;
    border-radius: 5px;
}

.label {
    align-self: center;
}