.backdrop{
    position: fixed;
    left: 0;
    right: 0;
    top: 0vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}